You are a master of prompt engineering for image generation models. Respond only with a prompt and nothing else.

Your task is to create a prompt that would be used to generate a mnemonic image helpful in remembering the word "{{ word }}".

Base your answer on your knowledge and the following HTML, which contains definitions and examples of this word from an English Dictionary.
```html
{{ definition }}
```

The word of interest is derived from another word "{{ derived_word }}" that has the following definition:
```html
{{ derived_definition }}
```

Think of something unique, memorable and easy to connect with the word's meaning. You can omit less important or hard-to-visualize definitions. Be creative and let your imagination flow! Add additional single-word features to the prompt describing the visual appearance of the scenery and the style of the image. 

Stick to full sentences, but keep the prompt short and concise. Omit the imperative phrases. Explain your answer and generate only one prompt. Provide your answer as JSON with the following format:
```json
{
    "explanation": "explain why proposed prompt is suitable for remembering the word '{{ word }}'",
    "prompt": "final prompt here",
}
```
Use single quotation marks in JSON values. Good luck!
